<div class="content">
  <h2>Franquias</h2>
  <h5>Veja alguns dos estabelecimentos de nossa rede</h5>

  <div class="franquias">
      <div class="flex-container">
          <div><p>GO | Goiânia, Avenida Ademar Vicente Ferreira</p></div>
          <div><p>RJ | São Gonçalo, Rua Ramos Costa</p></div>
          <div><p>RJ | Guaratiba, Avenida Cabuçu</p></div>  
          <div><p>SP | Ribeirão Preto, Rua Rubens Cavalcanti</p></div>
          <div><p>SP | SALTO, Rua Adoniram Barbosa</p></div>
        </div>
    </div>

</div>