<div class="content">
  <h2>Sobre</h2>
  <p>
      Somos uma rede de fastfood fraqueada..
  </p>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero turpis, fringilla eu leo nec, cursus semper orci. Vestibulum eget lorem felis. Vestibulum non nunc vel neque accumsan placerat. Pellentesque mi dui, vehicula vitae diam nec, mollis scelerisque sapien. Vestibulum feugiat lectus quis lacus dapibus, sed pharetra quam elementum. Phasellus pharetra enim at neque ultricies efficitur. Duis aliquet libero molestie, scelerisque odio non, elementum ante. Aenean sagittis enim non urna mollis, vel consectetur risus eleifend. Pellentesque sed aliquet turpis, in ullamcorper enim. Aliquam in leo non tortor euismod blandit ullamcorper ut purus. 
  </p>
  <p>
      Ut finibus posuere maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tempor maximus dignissim. Nulla lacus ligula, lacinia a lobortis quis, efficitur quis ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse porta nisl lectus, et interdum enim aliquam cursus. Etiam ullamcorper ipsum vel leo auctor interdum. 
  </p>
  <p>
      Pellentesque maximus mauris sed magna rhoncus, sit amet posuere mi placerat. Ut luctus rhoncus sodales. Aliquam erat volutpat. Fusce pellentesque ex id venenatis rhoncus. Sed hendrerit nec nunc non dapibus. Sed consectetur rutrum quam. Duis fermentum odio at nibh gravida, quis convallis nunc pharetra. Morbi suscipit nunc sit amet malesuada tincidunt. Donec imperdiet ipsum risus, nec mattis leo tristique sit amet. Duis non dolor sit amet velit lacinia pretium. Maecenas semper convallis odio, a congue tortor tincidunt quis. Cras non massa in neque sagittis convallis eu in arcu. Ut lobortis vel ligula ut suscipit. Nullam ut est consectetur est volutpat elementum a ut lorem. 
  </p>
</div>