<div class="home">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <h3>
      Primeiro projeto em angular
    </h3>
    <img width="300" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>

  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Fomulário</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="nomeinput">Nome:</label>
        <div class="col-md-4">
          <input id="nomeinput" name="nomeinput" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="emailinput">Email:</label>
        <div class="col-md-4">
          <input id="emailinput" name="emailinput" type="text" placeholder="" class="form-control input-md" required="">

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="mensagemarea">Mensagem</label>
        <div class="col-md-4">
          <textarea class="form-control" id="mensagemarea" name="mensagemarea"></textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="enviarbutton"></label>
        <div class="col-md-4">
          <button id="enviarbutton" name="enviarbutton" class="btn btn-primary">Enviar</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>