* {
    margin: 0 auto;
}

body {
    background-color: rgb(214, 214, 214);
}

.content {
    background-color: rgb(214, 214, 214);
    width: 80%;
    height: 90vh;
}

.content h1, h2, h3, h4, h5 {
    text-align: center;
}

.produtos {
    margin-top: 40px;
}

img {
    height: 40vmin;
    pointer-events: none;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 25%;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}